#FAQ_body {
	display: flex;
	position: relative;
	width: 924px;
	height: 508px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 25px;
}
.container__items {
	width: 470px;
	height: 508px;
	position: absolute;
	z-index: 6;
	overflow:hidden
}
.items__illustration-woman {
	position: absolute;
	top: 15%;
	left: -80px;
	z-index: 4;
}
.item__cube {
	z-index: 10;
	position: absolute;
	top: 42%;
	left: -92px;
}
.items__illustration-shadow{
	z-index: 4;
	position: absolute;
	bottom: -145px;
	left: -580px;
}
.container__content {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 450px;
	height: 100%;
	right: 0;
	padding: 60px 0px 0px 0px;
		.content__body{
			width: 310px;
		}
			.content__title{
					font-family: 'Kumbh Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
					font-size: 34px;
					font-weight: 700;
				}
			.content__items {
					display: flex;
					flex-direction: column;
					width: 100%;
					font-family: 'Kumbh Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
					padding: 25px 0px 0px 0px;
					.title__item {
						padding: 0px 0px 5px 0px;
						font-size: 12px;
						font-weight: 400;
					}
					.title__item:after {
							float: right;
							content: url(img/icon-arrow-down.svg);
							padding: 0px 30px 0px 0px;
							width: 20px;
							height: 20px;
						}
					.title__item:hover {
							color: hsl(14, 88%, 65%);
							cursor: help;
						}
					.item__text {
						display: none;
						padding: 10px 0px 0px 0px;
						width: 310px;
						font-size: 12px;
						font-weight: 400;
						opacity: 0.7;
					}
				}
			}







footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}

