.container {
	display: flex;
	position: relative;
	width: 924px;
	height: 508px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 25px;
}
.container__items {
	width: 60%;
	height: 508px;
	position: absolute;
	z-index: 6;
	overflow:hidden;
}
.items__illustration-woman {
	position: absolute;
	top: 15%;
	left: -80px;
	z-index: 4;
}
.item__cube {
	z-index: 10;
	position: absolute;
	top: 42%;
	left: -92px;
}
.items__illustration-shadow{
	z-index: 4;
	position: absolute;
	bottom: -145px;
	left: -580px;
}

// right content
.container__content {
	display: flex;
	flex-direction: column;
	justify-content: right;
	position: absolute;
	width: 45%;
	height: 100%;
	right: 0;
	padding: 60px 15px 0px 0px;
		.content__body{
			max-width: 310px;
		}
			.content__title{
					font-family: 'Kumbh Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
					font-size: 34px;
					font-weight: 700;
				}
			.content__items {
					display: flex;
					flex-direction: column;
					width: 100%;
					font-family: 'Kumbh Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
					padding: 25px 0px 0px 0px;
					.title__item {
						padding: 0px 0px 5px 0px;
						font-size: 12px;
						font-weight: 400;
					}
					
					.title__item:after {
							float: right;
							content: url(img/icon-arrow-down.svg);
							width: 20px;
							height: 20px;
						}
					.title__item:hover {
							color: hsl(14, 88%, 65%);
							cursor: help;
						}
					.item__text {
						overflow: hidden;
						display: none;
						padding: 10px 5px 0px 0px;
						width: 300px;
						max-height: 80px;
						font-size: 12px;
						font-weight: 400;
						color: black;
						opacity: 1;
						line-height:15px;
					}
				}
				.animation {
					animation: text 0.2s ease;
					@keyframes text{
						0%{
						margin-top: -4%;
						opacity: 0;
						}
						30%{
							margin-top: -3%;
							opacity: 0.1;
						}
						50%{
						margin-top: -2%;
						opacity: 0.2;
						}
						80%{
						margin-top: -1%;
						opacity: 0.5;
						}
						100%{
						margin-top: 0%;
						opacity: 0.7;
						}
					}
				}
			}
// arrow right
.after:after {
	text-align: center;
	right: 33%;
	margin: auto;
	transform: rotate(180deg);
	margin: -7px 5px 0px 0px;
}

.items__mobilewomanandshadow{
	display: flex;
	.items__illustration-woman-mobile{
		display: none;
		position: absolute;
		max-width: 60%;
		top: 11%;
		left: -80px;
		z-index: 4;
}
	.items__illustration-shadow-mobile{
		display: none;
}
}